name: Trigger jenkins job
on: [push]
jobs:
  build:
    name: Build
    runs-on: self-hosted
    steps:
    - name: Trigger jenkins job
      uses: Abhilash-1201/Jenkins-GitHubActions-Runner@master
      with:
        url: ${{ secrets.JENKINS_URL }}
        job_name: "testjob"
        user_name: ${{ secrets.JENKINS_USER }}
        api_token: ${{ secrets.JENKINS_TOKEN }}
        wait: "true"
        timeout: "1000"
    - name: Run Jenkins pipeline
      uses:
        jenkinsci/jfr-runtime-action@master
      with:
        command: run
        jenkinsfile: Jenkinsfile
