name: CI
on: [push]
jobs:
  testjob:
    runs-on: self-hosted
    name: jfr-runtime-action-pipeline
    steps:
    - name: Trigger jenkins job
      uses: Abhilash-1201/Jenkins-GitHubActions-Runner@master
        ./
      with:
        command: run
        jenkinsfile: jenkinsfile
        url: ${{ secrets.JENKINS_URL }}
        job_name: "GitHub_Job"
        user_name: ${{ secrets.JENKINS_USER }}
        api_token: ${{ secrets.JENKINS_TOKEN }}
        wait: "true"
        timeout: "1000"

